@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @apply p-4
}

label {
  @apply underline text-lg font-normal;
}

input {
  @apply appearance-none block w-full bg-gray-200 text-gray-600 text-xl border-2 border-gray-200 rounded py-3 px-2 mb-3 focus:outline-none focus:bg-white;
}

textarea {
  @apply appearance-none block w-full bg-gray-200 text-gray-600 border-2 border-gray-200 rounded py-3 px-2 focus:outline-none focus:bg-white;
}